text-center{
    style;
    padding: 10 10 10 10;
    align-items: "center";
    align-content: center;
}

navbar bg-body-tertiary{

}
card-img-top{
;
}

container-fluid{
    background-color: aqua;
}
navbar-brand{
    color: aquamarine;
    background-color: hotpink;
}

.porto{
    background-color: blue;

}
